/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Set your variables here */
  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Roboto', sans-serif;
  --p-size: 1.6rem;
  --h1-size: 3.2rem;
  --h2-size: 2.4rem;
  --h3-size: 1.8rem;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red !important; */
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p,
li,
tr,
td {
  font-size: var(--p-size);
}

a {
  text-decoration: none;
  font-size: var(--p-size);
}

li {
  list-style: none;
}
