/* Global Styles */

:root {
  /* Set your variables here */
  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Roboto', sans-serif;
  --p-size: 1.6rem;
  --h1-size: 3.2rem;
  --h2-size: 2.4rem;
  --h3-size: 1.8rem;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red !important; */
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

h1 { font-size: var(--h1-size); }

h2 { font-size: var(--h2-size); }

h3 { font-size: var(--h3-size); }

p,
li,
tr,
td { font-size: var(--p-size); }

a {
  text-decoration: none;
  font-size: var(--p-size);
}

li { list-style: none; }
